# Assignment 06 - Using Pandas
## Instructions
- This assignment is a re-do of assignment 04. We use Pandas and functions instead. 
- This assignment is a simple example of an important and complex process of "web scraping" to collect data.
- You get to use the simple and convenient read_html() from Pandas to extract **HTML tables** from web pages. 
    - **NOTES: The function return a list of data frames, one for each table in the HTML page.**
- The sample solution is here: https://github.com/wcj365/python-stats-dataviz/blob/master/pandas_apply.ipynb
- You will try to do it on your own and use the sample solution and google if you get stuck. 
- Make sure you use **Markdown cells** to document the process and its steps.

This excercise will allow us to get a feel of how wonderful Pandas is and how powerful the combination of apply() and user-defined functions are.

In [ ]:
import pandas as pd

### 1. Use Pandas read_html() function to retrive the HTML tables as dataframes from the web page: https://www.genealogybranches.com/censuscosts.html

In [ ]:
df = pd.read_html('https://www.genealogybranches.com/censuscosts.html')

### 2. Find out how many HTML tables Pandas retrieves from the web page. Find out which dataframe contain the data and use it for further processing.

In [ ]:
print ('number of tables retrived: ',len(df))
df

number of tables retrived:  2

[              0                 1               2                        3
 0   Census Year  Total Population     Census Cost  Average Cost Per Person
 1          1790           3929214         $44,377               1.13 cents
 2          1800           5308483         $66,109               1.24 cents
 3          1810           7239881        $178,445               2.46 cents
 4          1820           9633822        $208,526               2.16 cents
 5          1830          12866020        $378,545               2.94 cents
 6          1840          17069458        $833,371               4.88 cents
 7          1850          23191876      $1,423,351               6.14 cents
 8          1860          31443321      $1,969,377               6.26 cents
 9          1870          38558371      $3,421,198               8.87 cents
 10         1880          50155783      $5,790,678              11.54 cents
 11         1890          62979766     $11,547,127              18.33 cents
 12         1900          76303387     $11,854,000              15.54 cents
 13         1910          91972266     $15,968,000              17.07 cents
 14         1920         105710620     $25,117,000              23.76 cents
 15         1930         122775046     $40,156,000              32.71 cents
 16         1940         131669275     $67,527,000              51.29 cents
 17         1950         151325798     $91,462,000              60.44 cents
 18         1960         179323175    $127,934,000              71.34 cents
 19         1970         203302031    $247,653,000                    $1.22
 20         1980         226542199  $1,078,488,000                    $4.76
 21         1990         248718301  $2,492,830,000                   $10.02
 22         2000         281421906    $4.5 Billion                   $15.99
 23        2010*         308745538     $13 Billion                   $42.11,
                                                    0
 0  The U.S. population reached 300,000,000 on 17 ...]

#### Our data is in the first table the the second is erroneous.

In [ ]:
df = df[0] # assigns the desired data frame to df
df

              0                 1               2                        3
0   Census Year  Total Population     Census Cost  Average Cost Per Person
1          1790           3929214         $44,377               1.13 cents
2          1800           5308483         $66,109               1.24 cents
3          1810           7239881        $178,445               2.46 cents
4          1820           9633822        $208,526               2.16 cents
5          1830          12866020        $378,545               2.94 cents
6          1840          17069458        $833,371               4.88 cents
7          1850          23191876      $1,423,351               6.14 cents
8          1860          31443321      $1,969,377               6.26 cents
9          1870          38558371      $3,421,198               8.87 cents
10         1880          50155783      $5,790,678              11.54 cents
11         1890          62979766     $11,547,127              18.33 cents
12         1900          76303387     $11,854,000              15.54 cents
13         1910          91972266     $15,968,000              17.07 cents
14         1920         105710620     $25,117,000              23.76 cents
15         1930         122775046     $40,156,000              32.71 cents
16         1940         131669275     $67,527,000              51.29 cents
17         1950         151325798     $91,462,000              60.44 cents
18         1960         179323175    $127,934,000              71.34 cents
19         1970         203302031    $247,653,000                    $1.22
20         1980         226542199  $1,078,488,000                    $4.76
21         1990         248718301  $2,492,830,000                   $10.02
22         2000         281421906    $4.5 Billion                   $15.99
23        2010*         308745538     $13 Billion                   $42.11

### 3. Display and explore the data (rows, columns, etc.) and determine the data quality (bad rows, bad columns, bad elements, null values, etc.)

In [ ]:
print (df.shape, df, sep='\n')
print(df.info())

(23, 4)
0  Census Year Total Population     Census Cost Average Cost Per Person
1         1790          3929214         $44,377              1.13 cents
2         1800          5308483         $66,109              1.24 cents
3         1810          7239881        $178,445              2.46 cents
4         1820          9633822        $208,526              2.16 cents
5         1830         12866020        $378,545              2.94 cents
6         1840         17069458        $833,371              4.88 cents
7         1850         23191876      $1,423,351              6.14 cents
8         1860         31443321      $1,969,377              6.26 cents
9         1870         38558371      $3,421,198              8.87 cents
10        1880         50155783      $5,790,678             11.54 cents
11        1890         62979766     $11,547,127             18.33 cents
12        1900         76303387     $11,854,000             15.54 cents
13        1910         91972266     $15,968,000             17.07 cents
14        1920        105710620     $25,117,000             23.76 cents
15        1930        122775046     $40,156,000             32.71 cents
16        1940        131669275     $67,527,000             51.29 cents
17        1950        151325798     $91,462,000             60.44 cents
18        1960        179323175    $127,934,000             71.34 cents
19        1970        203302031    $247,653,000                   $1.22
20        1980        226542199  $1,078,488,000                   $4.76
21        1990        248718301  $2,492,830,000                  $10.02
22        2000        281421906    $4.5 Billion                  $15.99
23       2010*        308745538     $13 Billion                  $42.11
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 1 to 23
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     object
 1   Total Population         23 non-null     object
 2   Census Cost              23 non-null     object
 3   Average Cost Per Person  23 non-null     object
dtypes: object(4)
memory usage: 868.0+ bytes
None

### 4. Document the data quality issues using a Markdown cell so the reader understands what the problems are.

by looking at the output displayed above there are a number of errors that need to be addressed. 

        - the zeroth contains the column header
        - all of the data need to be converted from string objects to ints or floats
        - the census year column contains a non-number character '*'
        - the census cost column needs to be pure numbers requiring the removal of the '$' and ',' characters and converting 'Billion' to a numerical value
        - the average cost column neds to remove the 'cents' and '$' and convert all numbers to the same units (dollars) 

- **We will fix the first problem by making _df_ start from the first row onwards and assign the zeroth row to _df.columns_**

In [ ]:
df, df.columns = df[1:] , df.iloc[0]
df

0  Census Year Total Population     Census Cost Average Cost Per Person
1         1790          3929214         $44,377              1.13 cents
2         1800          5308483         $66,109              1.24 cents
3         1810          7239881        $178,445              2.46 cents
4         1820          9633822        $208,526              2.16 cents
5         1830         12866020        $378,545              2.94 cents
6         1840         17069458        $833,371              4.88 cents
7         1850         23191876      $1,423,351              6.14 cents
8         1860         31443321      $1,969,377              6.26 cents
9         1870         38558371      $3,421,198              8.87 cents
10        1880         50155783      $5,790,678             11.54 cents
11        1890         62979766     $11,547,127             18.33 cents
12        1900         76303387     $11,854,000             15.54 cents
13        1910         91972266     $15,968,000             17.07 cents
14        1920        105710620     $25,117,000             23.76 cents
15        1930        122775046     $40,156,000             32.71 cents
16        1940        131669275     $67,527,000             51.29 cents
17        1950        151325798     $91,462,000             60.44 cents
18        1960        179323175    $127,934,000             71.34 cents
19        1970        203302031    $247,653,000                   $1.22
20        1980        226542199  $1,078,488,000                   $4.76
21        1990        248718301  $2,492,830,000                  $10.02
22        2000        281421906    $4.5 Billion                  $15.99
23       2010*        308745538     $13 Billion                  $42.11

That problem's solved. Now we need to address how to fix all the wonky numbers.

~~5. Write a function named cleanse_year() that takes a string as input and removes any asterisks in the string and return the cleansed string. Test the function by using test strings (for example, "1989*", "20*10")~~

~~6. Cleanse the column "Census Year" using the function cleanse_year() and Pandas's apply() function.~~

~~7. Repeat this process for column "Total Population", 	"Census Cost", 	"Average Cost Per Person". (define, test, and apply the function)~~

### 5. Do everything at once like a savage

- **To fix our 'numbers problem' we will use some functions to handle the removal of unwanted characters and then use pandas' built-in function to faciliate the conversion to numbers**

I'm going to be using regex to parse the data and remove anything that is not a number or a decimal point.

#### The Functions:
**mknumstr(a_str)** parses a string and removes any undesireable character and returns the cleansed string

**is_billion(a_str)** checks string for 'Billion' returns a boolean value

**is_cents(a_str)** checks string for 'cents' returns a boolean value

**prep_data(a_str)** finally adding it all together, this functions applies the appropriate mathematical calculations for each string that is passed through returns string

In [ ]:
import re

def mknumstr(a_str):
  return re.sub('[^0-9\.]', '', a_str)

def is_billion(a_str):
  return False if a_str.find('Billion') == -1 else True

def is_cents(a_str):
    return False if a_str.find('cents') == -1 else True


def cleanse_data(a_str):
  if (is_billion(a_str)):
    return str(int(float(mknumstr(a_str))*10e8))
  elif (is_cents(a_str)):
    return str(round(float(mknumstr(a_str))/100, 4))
  else:
    return mknumstr(a_str)

#### Use the custom **cleanse_data()** function on df and pandas' **.to_numeric()** to convert all columns to numerical values

In [ ]:
df_clean = df.applymap(cleanse_data) # remove unwanted characters
df_clean = df_clean.apply(pd.to_numeric) # convert to numerical values
df_clean

0   Census Year  Total Population  Census Cost  Average Cost Per Person
1          1790           3929214        44377                   0.0113
2          1800           5308483        66109                   0.0124
3          1810           7239881       178445                   0.0246
4          1820           9633822       208526                   0.0216
5          1830          12866020       378545                   0.0294
6          1840          17069458       833371                   0.0488
7          1850          23191876      1423351                   0.0614
8          1860          31443321      1969377                   0.0626
9          1870          38558371      3421198                   0.0887
10         1880          50155783      5790678                   0.1154
11         1890          62979766     11547127                   0.1833
12         1900          76303387     11854000                   0.1554
13         1910          91972266     15968000                   0.1707
14         1920         105710620     25117000                   0.2376
15         1930         122775046     40156000                   0.3271
16         1940         131669275     67527000                   0.5129
17         1950         151325798     91462000                   0.6044
18         1960         179323175    127934000                   0.7134
19         1970         203302031    247653000                   1.2200
20         1980         226542199   1078488000                   4.7600
21         1990         248718301   2492830000                  10.0200
22         2000         281421906   4500000000                  15.9900
23         2010         308745538  13000000000                  42.1100

#### Double check the data and see if type conversion is as expected

In [ ]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 1 to 23
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Census Year              23 non-null     int64
 1   Total Population         23 non-null     int64
 2   Census Cost              23 non-null     int64
 3   Average Cost Per Person  23 non-null     float64
dtypes: float64(1), int64(3)
memory usage: 868.0 bytes

#### Looking really good!
All the data looks like its been cleansed and assigned the correct data types

### 8. After all columns are cleansed, save the cleansed dataframe to a file named "census_cost_cleansed.csv" using CSV format.

Simple. Just use the pandas **.to_csv()** method.

In [ ]:
df_clean.to_csv('census_cost_cleansed.csv', index= False) # the 'index = False' agrument flags the index location and prevents an additonal column being added here

### 9. Use Pandas to read the saved cleansed file and explore to make sure it is clean. 

This is just as easy. Pandas has a **.read_csv()** method.

In [ ]:
pd.read_csv('census_cost_cleansed.csv')

    Census Year  Total Population  Census Cost  Average Cost Per Person
0          1790           3929214        44377                   0.0113
1          1800           5308483        66109                   0.0124
2          1810           7239881       178445                   0.0246
3          1820           9633822       208526                   0.0216
4          1830          12866020       378545                   0.0294
5          1840          17069458       833371                   0.0488
6          1850          23191876      1423351                   0.0614
7          1860          31443321      1969377                   0.0626
8          1870          38558371      3421198                   0.0887
9          1880          50155783      5790678                   0.1154
10         1890          62979766     11547127                   0.1833
11         1900          76303387     11854000                   0.1554
12         1910          91972266     15968000                   0.1707
13         1920         105710620     25117000                   0.2376
14         1930         122775046     40156000                   0.3271
15         1940         131669275     67527000                   0.5129
16         1950         151325798     91462000                   0.6044
17         1960         179323175    127934000                   0.7134
18         1970         203302031    247653000                   1.2200
19         1980         226542199   1078488000                   4.7600
20         1990         248718301   2492830000                  10.0200
21         2000         281421906   4500000000                  15.9900
22         2010         308745538  13000000000                  42.1100

# So beautiful

Good Job!

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=0aee4006-0af7-4619-8637-ef17c840cb78' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>